@import '../../styles/variables.scss' ;
.menu{
   
    .item{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom:20px;
        .title{
            font-size: 12px;
            font-weight: 300;
            color:$soft-color;
            text-transform: uppercase;
            transition: all 0.3s ease-in;

            &:hover{
                text-decoration:underline;
            }

        }
        


        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            font-size: 14px;
            &:hover{
            background-color: $soft-bg;
            }
           
        }
    }
}