.chartBox{
    display: flex;
    height: 100%;
    width: 100%;
    h1{
        font-size: 1.4rem;
    }

    
    .boxInfo{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            display: flex;
            gap: 10px;
            align-items: center;
        }

    }
    .chartInfo{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
     

        .chart{
            width: 100%;
            height: 100%;
        }

        .chartText{
        display: flex;
        flex-direction: column;
        text-align: right;
       

        .percentage{
            font-weight: bold;
            font-size: 20px;
        }
        .duration{
            font-size: 14px;
        }


        }
    }
    
}