.navbar{
    width: 100%;
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{

        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 10px;
    }

.icons{

    display: flex;
    align-items: center;
    gap: 1.5rem;

    .user {
        display: flex;
        align-items: center;
        gap: 0.8rem;


        img{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: contain;
            border: 1px solid greenyellow;
            
        }
    }

    .notification{


            position: relative;
        span{
            position: absolute;
            right: -10px;
            top: -10px;
            background-color: red;
            color:white;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            padding: 0.4rem;
            font-size: 12px;


        }
    }
}

}