.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    width: 100%;




    span{

        &:first-child{
            font-weight: bold;
        }
        &:last-child{
            font-size: 14px;
            color: rgb(170, 162, 162);
        }
       
    }
    
}